---
logging:
  level:
    '[com.sap.cds.auditlog]': DEBUG
spring:
  jmx:
    enabled: true
cds:
  errors:
    prefer-service-exception: true
  odata-v4:
    endpoint.path: "/api"
  security:
    authentication.normalize-provider-tenant: true
    mock.users:
      admin:
        password: admin
        roles:
        - admin
        attributes:
          businessPartner:
          - "10401010"
      user:
        password: user
server.servlet.encoding:
  charset: UTF-8
  force: true
openai:
  base-url: https://api.openai.com/v1
  api-key: ${OPENAI_API_KEY:}
  embedding-model: text-embedding-3-small
  chat-model: gpt-4o-mini
management:
  endpoint:
    health:
      show-components: always
      show-details: always
      probes.enabled: true
  endpoints:
    web:
      exposure:
        include: "health"
  health:
    defaults.enabled: false
    ping.enabled: true
    db.enabled: true
    myhealth.enabled: true

---
spring:
  config.activate.on-profile: cloud
cds:
  sql.hana.search:
    fuzzy: true
    fuzzinessThreshold: 0.9
  messaging.services:
    bupa-messaging:
      kind: enterprise-messaging
      format: cloudevents
      subscribe-prefix: sap/S4HANAOD/java/ce/

---
spring:
  config.activate.on-profile: sandbox
cds:
  remote.services:
    '[API_BUSINESS_PARTNER]':
      type: "odata-v2"
      http:
        headers:
          APIKey: "" # Place API Key from SAP API Business Hub here or use environment variable CDS_REMOTE_SERVICES_API_BUSINESS_PARTNER_HTTP_HEADERS_APIKEY
      destination:
        properties:
          url: "https://sandbox.api.sap.com/s4hanacloud/sap/opu/odata/sap"

---
spring:
  config.activate.on-profile: destination
cds:
  remote.services:
    '[API_BUSINESS_PARTNER]':
      type: "odata-v2"
      http:
        suffix: "/sap/opu/odata/sap"
      destination:
        name: "s4-destination"

---
spring:
  config.activate.on-profile: mocked
cds:
  messaging.services:
    bupa-messaging:
      kind: file-based-messaging
  application.services:
    api-business-partner-mocked:
      model: API_BUSINESS_PARTNER
      serve:
        path: API_BUSINESS_PARTNER
  remote.services:
    '[API_BUSINESS_PARTNER]':
      http:
        suffix: "/api"
      destination:
        name: "myself"

---
spring:
  config.activate.on-profile: ft
cds:
  model.provider.url: http://localhost:4005
  security.mock.users:
    admin:
      features:
      - isbn
      - discount
    user:
      features:
      - isbn

---
spring:
  config.activate.on-profile: local-mtxs
cds:
  multi-tenancy.sidecar.url: http://localhost:4005
  security.mock.users:
    admin:
      tenant: t1
    user:
      tenant: t1

---
spring:
  config.activate.on-profile: default
  web.resources.static.-locations: "file:./app"
  datasource:
    url: "jdbc:sap://933d6a7a-ebad-4751-be83-4080be7ec47c.hana.trial-us10.hanacloud.ondemand.com:443?encrypt=true&validateCertificate=true&currentschema=E53526DA27894428BAA7404ABDB84D80"
    username: "E53526DA27894428BAA7404ABDB84D80_51FTDWUQEUSKIAAEXBU91AUDE_RT"
    password: "#:sX}/apeg;}a-J+D)=6Q!qM#qAK<MpU1A54%76ruOS+ZX5)2wJsGIY=M|SMoWw~ @d|UJ&_/ycaf@wINP&cE_:~n3|Cn)=L;}6BW/MGT<jG1Kz!|oy#|[F-[&x`1`NC"
    hikari:
      maximum-pool-size: 10
      connectionTimeout: 90000
  xsuaa: 
    auto: false
cds:
  data-source:
    auto-config.enabled: false
